* {
    text-align: center;
}

.navbar-brand {
    padding: 1rem;
    margin: auto;
    font-size: 4rem;
}

button {
    margin: 5% 3% 1%;
}

.main-container {
    padding: 5%;
}

.card {
    margin: 0 30%;
}