.big-one {
    background-color: black; 
    height: 30em; 
    border-radius: 5%;
}

.search-box {
    width: 80%; 
    height: 4em; 
    background-color: black;
}

.small-one {
    background-color: black; 
    height: 7em; 
    border-radius: 5%; 
    width: 10em;
}

.wide-one{
    background-color: black;
    height: 7em; 
    width: 40em;
}